<a href="https://colab.research.google.com/github/longaresf/Machine_learning_simulacro_examen_1/blob/main/Francisco_Longares_Clase_4_30_06_25_simulacro_examen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simulacro

Entrena un modelo que aprenda a predecir la columna income en este dataset.

In [1]:
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
df_csv = pd.read_csv(url, header=None, na_values=" ?", skipinitialspace=True)
column_names = [
    "age",
    "workclass",
    "fnlwgt",
    "education",
    "education_num",
    "marital_status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "capital_gain",
    "capital_loss",
    "hours_per_week",
    "native_country",
    "income"
]
df_csv.columns = column_names

Diccionario de columnas:

| Columna          | Tipo                        | Descripción                                                                      |
| ---------------- | --------------------------- | -------------------------------------------------------------------------------- |
| `age`            | Numérica                    | Edad del individuo (años)                                                        |
| `workclass`      | Categórica nominal          | Tipo de empleador (por ejemplo, `Private`, `Self-emp`, `Government`, etc.)       |
| `fnlwgt`         | Numérica                    | Peso de la muestra (valor demográfico asignado por el censo)                     |
| `education`      | Categórica ordinal          | Nivel de educación (por ejemplo, `Bachelors`, `HS-grad`, `Masters`, etc.)        |
| `education_num`  | Numérica                    | Nivel de educación codificado como número (más alto = más educación)             |
| `marital_status` | Categórica nominal          | Estado civil (por ejemplo, `Married`, `Divorced`, `Never-married`, etc.)         |
| `occupation`     | Categórica nominal          | Ocupación (por ejemplo, `Tech-support`, `Craft-repair`, `Sales`, etc.)           |
| `relationship`   | Categórica nominal          | Relación familiar dentro del hogar (por ejemplo, `Wife`, `Husband`, `Own-child`) |
| `race`           | Categórica nominal          | Raza del individuo (por ejemplo, `White`, `Black`, `Asian-Pac-Islander`, etc.)   |
| `sex`            | Categórica nominal          | Sexo del individuo (`Male`, `Female`)                                            |
| `capital_gain`   | Numérica                    | Ganancia de capital (dinero ganado por inversiones, etc.)                        |
| `capital_loss`   | Numérica                    | Pérdida de capital (dinero perdido por inversiones, etc.)                        |
| `hours_per_week` | Numérica                    | Horas trabajadas por semana                                                      |
| `native_country` | Categórica nominal          | País de origen del individuo                                                     |
| `income`         | Categórica binaria (target) | Clase objetivo: `<=50K` o `>50K`, según ingreso anual                            |

In [2]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [39]:
# Librerias a importar
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Parte 1: Análisis Exploratorio de Datos (EDA)
## 1. Carga y Exploración de Datos:
Descripción de las variables y su distribución.

In [40]:
# Exploración de datos
print(df_csv.head())
print(df_csv.describe())

   age         workclass  fnlwgt  education  education_num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital_status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital_gain  capital_loss  hours_per_week native_country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

Detección y eliminación de valores duplicados

In [41]:
# Hacemos copia del DataFrame
df=df_csv.copy()
# Buscar datos duplicados
datos_duplicados = df.duplicated()
if datos_duplicados.any():
    print("Cantidad de datos duplicados: ", datos_duplicados.sum())
else:
    print("No se encontró datos duplicados")

Cantidad de datos duplicados:  24

In [42]:
# Validar el shape.
print(df.shape)

(32561, 15)

In [43]:
# Eliminar datos duplicados.
df.drop_duplicates(inplace=True)
# Validar el shape.
print(df.shape)

(32537, 15)

Verificamos tipo de dato de columnas.<br>
Consistencia en valores categóricos

In [44]:
# Verificamos valores únicos en las columas
for col in df.columns:
    print(f"\nDatos en la columa: '{col}':")
    print(df[col].unique())

Datos en la columa: 'age':
[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]

Datos en la columa: 'workclass':
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']

Datos en la columa: 'fnlwgt':
[ 77516  83311 215646 ...  34066  84661 257302]

Datos en la columa: 'education':
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']

Datos en la columa: 'education_num':
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]

Datos en la columa: 'marital_status':
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']

Datos en la columa: 'occupation':
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']

Datos en la columa: 'relationship':
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']

Datos en la columa: 'race':
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']

Datos en la columa: 'sex':
['Male' 'Female']

Datos en la columa: 'capital_gain':
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]

Datos en la columa: 'capital_loss':
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]

Datos en la columa: 'hours_per_week':
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]

Datos en la columa: 'native_country':
['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']

Datos en la columa: 'income':
['<=50K' '>50K']

In [46]:
# Verificamos los datos en las columas
for col in df.columns:
    print(f"\nRevisamos Datos en la columa: '{col}':")
    print(df[col].value_counts())

Revisamos Datos en la columa: 'age':
age
36    898
31    888
34    886
23    876
35    875
     ...
83      6
88      3
85      3
86      1
87      1
Name: count, Length: 73, dtype: int64

Revisamos Datos en la columa: 'workclass':
workclass
Private             22673
Self-emp-not-inc     2540
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

Revisamos Datos en la columa: 'fnlwgt':
fnlwgt
123011    13
203488    13
164190    13
126675    12
148995    12
          ..
148751     1
212302     1
169885     1
112780     1
327112     1
Name: count, Length: 21648, dtype: int64

Revisamos Datos en la columa: 'education':
education
HS-grad         10494
Some-college     7282
Bachelors        5353
Masters          1722
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           645
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           332
1st-4th           166
Preschool          50
Name: count, dtype: int64

Revisamos Datos en la columa: 'education_num':
education_num
9     10494
10     7282
13     5353
14     1722
11     1382
7      1175
12     1067
6       933
4       645
15      576
5       514
8       433
16      413
3       332
2       166
1        50
Name: count, dtype: int64

Revisamos Datos en la columa: 'marital_status':
marital_status
Married-civ-spouse       14970
Never-married            10667
Divorced                  4441
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

Revisamos Datos en la columa: 'occupation':
occupation
Prof-specialty       4136
Craft-repair         4094
Exec-managerial      4065
Adm-clerical         3768
Sales                3650
Other-service        3291
Machine-op-inspct    2000
?                    1843
Transport-moving     1597
Handlers-cleaners    1369
Farming-fishing       992
Tech-support          927
Protective-serv       649
Priv-house-serv       147
Armed-Forces            9
Name: count, dtype: int64

Revisamos Datos en la columa: 'relationship':
relationship
Husband           13187
Not-in-family      8292
Own-child          5064
Unmarried          3445
Wife               1568
Other-relative      981
Name: count, dtype: int64

Revisamos Datos en la columa: 'race':
race
White                 27795
Black                  3122
Asian-Pac-Islander     1038
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

Revisamos Datos en la columa: 'sex':
sex
Male      21775
Female    10762
Name: count, dtype: int64

Revisamos Datos en la columa: 'capital_gain':
capital_gain
0        29825
15024      347
7688       284
7298       246
99999      159
         ...
6097         1
1639         1
7978         1
2387         1
5060         1
Name: count, Length: 119, dtype: int64

Revisamos Datos en la columa: 'capital_loss':
capital_loss
0       31018
1902      202
1977      168
1887      159
1485       51
        ...
2201        1
2467        1
2163        1
2472        1
1411        1
Name: count, Length: 92, dtype: int64

Revisamos Datos en la columa: 'hours_per_week':
hours_per_week
40    15204
50     2817
45     1823
60     1475
35     1296
      ...
87        1
82        1
94        1
92        1
74        1
Name: count, Length: 94, dtype: int64

Revisamos Datos en la columa: 'native_country':
native_country
United-States                 29153
Mexico                          639
?                               582
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        62
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

Revisamos Datos en la columa: 'income':
income
<=50K    24698
>50K      7839
Name: count, dtype: int64

Detección de datos anómalos

In [47]:
# Detectar valores extremos o fuera de rango segun interpretacion de las columnas
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32537.000000,3.253700e+04,32537.000000,32537.000000,32537.000000,32537.000000
mean,38.585549,1.897808e+05,10.081815,1078.443741,87.368227,40.440329
std,13.637984,1.055565e+05,2.571633,7387.957424,403.101833,12.346889
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.369930e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [48]:
# Usamos .loc para seleccionar las filas de columnas con valores '?'
# y asignarles el valor NaN.

columnas = ['native_country','occupation','workclass']

for col in columnas:
    df.loc[df[col] == '?', col] = np.nan
    # Verificamos si se eliminó el valor de '?' en la columna.
    print(f"\nCantidad de '?' después de la corrección en la columa: '{col}':")
    print(f"{df[df[col] == '?'].shape[0]}")
    # Verificamos la cantidad de datos NaN en las columnas.
    print(f"Cantidad de datos 'NaN' en columna: '{col}' \n{df[df[col].isna()].shape[0]}")

Cantidad de '?' después de la corrección en la columa: 'native_country':
0
Cantidad de datos 'NaN' en columna: 'native_country'
582

Cantidad de '?' después de la corrección en la columa: 'occupation':
0
Cantidad de datos 'NaN' en columna: 'occupation'
1843

Cantidad de '?' después de la corrección en la columa: 'workclass':
0
Cantidad de datos 'NaN' en columna: 'workclass'
1836

Uso de ColumnTransformer y Pipeline

In [49]:
# Cargar el conjunto de datos
X = df.drop('income', axis=1)
y = df['income']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir las columnas numéricas y categóricas
numeric_features = ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']
categorical_features = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']

# Crear transformadores para cada subconjunto de columnas
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])

categorical_transformer = OneHotEncoder(handle_unknown='ignore')

# Crear un ColumnTransformer
preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer, numeric_features),
    ('cat', categorical_transformer, categorical_features)
])

# Crear un Pipeline completo
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression())
])

# Ajustar el Pipeline a los datos de entrenamiento
pipeline.fit(X_train, y_train)

# Hacer predicciones utilizando el Pipeline
y_pred = pipeline.predict(X_test)

# Calcular la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Precisión del modelo: {accuracy:.2f}")

Precisión del modelo: 0.86